In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import json
# Import the API key.
from config import g_key

import collections
collections.Iterable = collections.abc.Iterable

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel_Name,Hotel Name
0,3,Butaritari,KI,82.38,broken clouds,3.0707,172.7902,NaN,NaN
1,13,Kavaratti,IN,80.38,overcast clouds,10.5669,72.6420,NaN,NaN
2,29,Sabang,ID,81.64,few clouds,5.8933,95.3214,NaN,NaN
3,36,Kapaa,US,80.92,light rain,22.0752,-159.3190,NaN,NaN
4,42,West Bay,KY,84.27,few clouds,19.3667,-81.4167,NaN,NaN
...,...,...,...,...,...,...,...,...,...
96,643,Sharjah,AE,84.18,haze,25.3573,55.4033,NaN,NaN
97,648,Biak,ID,81.52,broken clouds,-0.9131,122.8766,NaN,NaN
98,653,Metro,ID,80.02,overcast clouds,-5.1131,105.3067,NaN,NaN
99,654,Cairns,AU,87.12,broken clouds,-16.9167,145.7667,NaN,NaN
100,672,Dunmore Town,BS,81.93,clear sky,25.5000,-76.6500,NaN,NaN

In [3]:
# Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

#Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

#Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
start_city = "Tiquisate"
end_city = "Tiquisate"
city1 = "Champerico"
city2 = "Ocos"
city3= "Tecoanapa"

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3]

In [6]:
#Get the latitude-longitude pairs as tuples from each city DataFrame using the to mumpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [7]:
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel_Name,Hotel Name
0,593,Tiquisate,GT,80.40,overcast clouds,14.2833,-91.3667,NaN,NaN
1,298,Champerico,GT,81.14,broken clouds,14.3000,-91.9167,NaN,NaN
2,608,Ocos,GT,80.35,overcast clouds,14.5094,-92.1933,NaN,NaN
3,329,Tecoanapa,MX,80.44,overcast clouds,16.5167,-98.7500,NaN,NaN

In [9]:

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))